.App {
	text-align: center;
	color: Green;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 100px 180px 180px;
	gap: 10px;
	background-color: #fafcfe;
	padding: 10px;
	
  }
 
  .grid-container > div {
	background-color: rgba(194, 192, 192, 0.8);
	text-align: center;
	border: 0.5px solid rgba(101, 100, 100, 0.8);
	padding: 20px 0;
	font-size: 30px;
  }

  .item5 {
	grid-column: 1 / span 2;
  }
  .item6 {
	grid-column: 3 / span 2;
    
  }
  .item7 {
	grid-column:  1 / span 2;
  }
  .item8 {
	grid-column: 3 / span 2;
  }
  
  .Title{
	text-align: center;
	color: Green;

  }
  

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
