

.App{
	background: #D9D9D9;
	height: 100vh;

	
  }
  
  @media screen and (max-width: 1200px){
	.AppGlass{
	  grid-template-columns: 10% 50% auto;
	  overflow-y: scroll;
	}
  }
  @media screen and (max-width: 768px){
	  .AppGlass{
		grid-template-columns: 1fr;
	  }
	  .AppGlass::-webkit-scrollbar{
		display: none;
	  }
  }
.h2{
	text-align: center;
	margin:15px;
}
  .MainDash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	margin-top: 70px;
	margin-left:108px;
	margin-right:108px ;
	
	
}
@media screen and (max-width: 1200px){
    .MainDash{
        justify-content: flex-start;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 768px){
    .MainDash{
        align-items: center;
		
    }
}


  

  *{
    margin: 0;
    padding: 0;
    
	
  
}


  /* CSS property for header section */
  .header {
	position: relative;
	overflow: hidden;
  background: linear-gradient(270deg, #2EEDB4 0%, #5F4EC4 100%);
  width: 100%;
height: 84px;

}

.button{
	background-color: transparent;
	color: #FFFFFF;
	font-family: 'Arial';
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
  border-color: transparent;
  padding: 10px 60px;
  margin: 10px 0px 25px 850px;
  cursor: pointer;
}


 .Logo{
	position: static;
	width: 131px;
	height: 36px;
	left: 0px;
	top: 0px;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 35px 200px 0px 100px ;

 }


 .nav { 
	list-style-type: none;
	text-align: center;
	padding: 0;
	left: 0px;
top: 0px;
  }
  
  .nav li {
	display: inline-block;
font-style: normal;
font-weight: 400;
font-size: 16px;
padding:25px;
	
  }
  .nav a{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 15px;
		display:inline-block;
		padding:20px;
		color: #FFFFFF;
		text-decoration: none;
	}
	.nav a:hover {
		color: #d8d7d7;
		font-family: 'Arial';
		font-style: normal;
		font-size: 16px;
		line-height: 20px;
		}
	.nav a.active {
		border-bottom: 3.5px solid #FFFFFF;	
			}

.footer {
	background-color: #F9F9F9;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
  }
  .footerlogo{
	  height:20px;
	  width:20px;
	  position: absolute;
	  left: 7.5%;
	  right: 91.11%;
	  top: 47.14%;
	bottom: 31.43%;

  }
  
  .footertext{
	position: absolute;
	width:400px;
	left: 9%;
	right: 72.85%;
	top: 49%;
	bottom: 31.43%;
	
	/* Secondary/12 */
	
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height, or 125% */
	
	letter-spacing: 0.1875px;
	
	/* Grey/4 */
	
	color: #5F5F5F;
  }

  .footernav{
	position: absolute;
	left: 83.54%;
	right: 14.44%;
	top: 47.14%;
	bottom: 31.43%;
	width:170px;
	
	
	
  }
  .footernav a{
/* Body/Regular */
	
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 15px;
color: #5F5F5F;
margin-left: 12px;
text-decoration: none;
  }